Source: stsbl-iserv-mailconfig
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.3.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-mail-config

Package: stsbl-iserv-mailconfig
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  zsh,
Replaces:
  stsbl-iserv-mail-send-block
Provides:
  stsbl-iserv-mail-send-block
Conflicts:
  stsbl-iserv-mail-send-block
Breaks:
  stsbl-iserv-mail-send-block
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: E-Mail-Konfigurations-Modul für IServ
 Dieses Modul eröffnet zusätzliche Einstellungsmöglichkeiten für den in
 IServ integrierten E-Mail-Server.
 .
 Zusätzlich gibt es das neue Gruppenmerkmal "Gruppe darf interne E-Mails
 empfangen". Dieses funktioniert ähnlich wie das Merkmal "Gruppe darf externe
 E-Mails empfangen", nur mit dem Unterschied, dass es sich auf interne
 innerhalb des IServs gesendete E-Mails bezieht.
 .
 Von Gruppen, die keine internen E-Mails innerhalb des IServs enthalten sollen,
 entfernt man dieses.
 .
 Benutzer, an die das Recht "E-Mails an alle Gruppen senden" vergeben wird,
 sind von dieser Beschränkung ausgenommen.
Tag: suite::iserv:portal, role::plugin
